
.mainpage{
    width: 100%;
}

.date-of-birth{
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    margin-top: 30px;
}

.button-date-of-birth{
    width: 75px;
    height: 30px;
}

.child{
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    margin-top: 30px;
}

.place-of-work{
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    justify-items: center;
   
}

.choise-place-of-work{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.vacation-time{
    margin-bottom: 50px;
}
